{% if slideshow %}
	{% if slides %}
	<div class="owl-carousel owl-theme nav-inside nav-inside-edge nav-squared nav-with-transparency nav-primary" data-plugin-options="{'items': 1, 'margin': 10, 'autoplay': true, 'autoplayTimeout': 3000, 'nav': true, 'dots': true}">
	{% for slide in slides %}
		<div>
			<div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
				<img src="{{ slide.image }}" class="img-fluid border-radius-0" alt="">
			</div>
		</div>
	{% endfor %}
	</div>
	{% endif %}
{% endif %}